.env

.idea
tags
.node_modules
*.pyc

# Jupyter/IPython notebook related
.ipynb_checkpoints
dev_*.ipynb

.DS_Store
node_modules/
polbotcheck/dump/
Release.key
polbotcheck/__pycache__/


# testing
/coverage

# production
/build

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
