.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
    float: left;
}

.App-header {
    background-color: #222;
    padding: 20px;
    color: white;
}

.App-profile {
    float: left;
    width: 25%;
    margin: 2em;
}

img {
    max-width: 100%;
}

.Info-diagram {
    width: 30%;
    display: inline-block;
    margin: 2em;
}

.Info-followers, .Info-retweeters {
    float: left;
    width: 25%;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
