@import '//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css';

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
    float: left;
}

.App-header {
    background-color: #222;
    padding: 20px;
    color: white;
}

.App-profile {
    padding: 2em;
}

img {
    max-width: 100%;
}

ul {
    text-align: left;
}

.Info-diagram {
    padding: 2em;
}

.Info-diagram img {
    max-width: 66%;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
