@import '//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css';

.App, h3 {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
    float: left;
}

.App-header {
    background-color: #222;
    padding: 20px;
    color: white;
}

img.Profile-picture {
    display: inline-block;
    max-width: 240px;
    max-height: 240px;
    margin-top: 1em;
}

.App-profile {
    display: inline-block;
    margin-left: 20px;
    min-width: 300px;
}

.App-info {
    margin: 1em -5px;
    padding: 0;
}

.App-info > div {
    padding: 5px;
}

.App-info > div > div {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

img {
    max-width: 100%;
}

ul {
    text-align: left;
}

.Info-diagram {
    padding: 2em;
}

.Info-diagram img {
    max-width: 66%;
}

.number {
    float: right;
}
