body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-logo {
    -webkit-animation: none;
    animation: none;
    float: left;
}

#footer {
    margin-top: 3em;
    text-align: left;
}